/* @font-face {
    font-family: 'Pinkend';
    src: url('fonts/Pinkend.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

body {
    font-family: 'Pinkend', sans-serif;
    background-color: rgb(255, 254, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Pinkend', sans-serif; /* Ensure consistency */
    font-size: 200px;
    font-weight: normal; /* Avoid forcing bold */
    text-transform: uppercase;
    color: rgb(44, 44, 107);
    cursor: url('image/blueraindrop.png'), auto;
}

.clickable-text {
    text-decoration: none; /* Remove the underline */
    color: inherit; /* Make sure the link doesn't change color */
    display: inline-block; /* Ensure proper layout */
}

.clickable-text span {
    pointer-events: none; /* Prevents unwanted styling issues */
}